.container-print {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.container-print  .title-print {
    font-weight: bold;
    margin-bottom: 10px;
}
.container-print  .dropdown-semester{
    text-align: center;
    margin-bottom: 20px;
}
.container-print  .dropdown-semester select{
    border-radius: 3px;
    border: 1px solid #1b548b;
    height: 20px;
    background-color: #fff;

    margin-left: 10px;
}
/*table print  */
.container-print  .tbl-print {

}
/*header table*/
.tbl-print  .header-tbl-print {
    margin-bottom: 10px;
}
.tbl-print  .header-tbl-print  .name-tbl-print {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.tbl-print  .header-tbl-print  .student-info{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.tbl-print  .header-tbl-print  .student-info div{
    margin-right: 20px;
}
/*body print */
.tbl-print  .body-tbl-print {
    overflow: auto;
}
.tbl-print  .body-tbl-print  table{
    width: 100%;

}
.tbl-print  .body-tbl-print  th{
    font-size: 14px;
    position: sticky;
    background-color: #1b548b;
    color: #fff;
    top:-1px;
    height: 30px;

}
.tbl-print  .body-tbl-print  td{
    font-size: 14px;
    height: 30px;
    text-align: center;
}
.tbl-print  .body-tbl-print  tr:nth-child(even)
{
    background-color: #f2f2f2;
}
.tbl-print .btn-print{
    margin-top: 20px;
    background-color: #1b548b;
    border: 1px solid #1b548b;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    padding: 9px 5px;
    float: right;
    /*neu div sau dung thif clear:right*/
    cursor: pointer;
}
.tbl-print .btn-print .icon-print{
    background:url("./icons/icons8-print-24 (4).png") no-repeat 1px 1px;
    padding: 4px 15px;
}
