

/*Content*/

.container-home .content-home{
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;

    position: absolute;
}
.container-home .menubar{
    width: 260px;
    left: 0;
    bottom: 0;
    top:0;
    position: absolute;
    color: #000;
    background-color: #f3f3f3;
}
.container-home .content{
    position: absolute;
    top: 0;
    left: 260px;
    right: 0;
    bottom: 0;
    margin: 20px 15px;
}
