/*HEADER*/
.container-home .header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f2f2f2;
}
.container-home .header .group-title{
    display: flex;
    align-items: center;
}
.container-home .header .group-title .logo{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.container-home .header .group-title .title{
    font-size: 30px;
    color: #1c4d90;
    font-family: "Times New Roman";
}
.container-home .header .group-user-menu{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.group-user-menu .user-info{
    border: 1px solid #007BFF;

    background-color: #007BFF;
    color: #fff;
    padding: 10px 10px;
    height: 16px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-dropdown{
   background-color: #007BFF;
    border: 1px solid #007BFF;
    height: 35px;
    color: #fff;
    border-radius: 3px;
}
.group-user-menu .dropdown .btn-user-main{
    background-color: #007BFF;
    border: #007BFF;
    color: #fff;
}
.dropdown-menu .icons{
    padding-right: 10px;
}
.dropdown-menu .btn-logout, .btn-user {
    cursor: pointer;
    display: block;
}
.dropdown-menu .btn-logout:hover, .btn-user:hover {
    background-color: #007BFF;
    color: #fff;
}
.dropdown-menu .btn-logout div, .btn-user div{
    margin: 0px 15px;
    padding: 5px 0px;
}
.dropdown-menu .btn-logout div i, .btn-user div i{
    margin-right:10px ;
}
.btn-size{
    font-size: 15px !important;
}