
.container-login .header{
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    display: flex;
    padding: 10px 10px;
}
.container-login .header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.container-login .header .group-title{
    display: flex;
}
.container-login .header .group-title .logo{
    height: 80px;
    width: 80px;
    margin: 0px 10px;
}
.container-login .header .group-title .title{
    font-size: 30px;
    padding: 25px 10px;
    color: #1b548b;
    font-family: "Times New Roman";
}
.container-login .login-page{

    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    position: absolute;
    background-color: #f2f2f2;
}
.login-card{
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    margin: 30px auto;
    position: relative;
    border: 1px solid #bfbfbf;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);

}
/*header*/
.login-card-header{
    height: 65px;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #1b548b;
    font-size: 25px;
    color: #fff;
}
.login-card-header .login-card-title{
    margin: 19px 20px;
}

/*body*/
.login-card-body{
    min-height: 110px;
    margin: 10px 20px;
}
.login-group{
    height: 50px;
    margin-top: 10px;
    align-items: center;
}
.login-group label{
    float: left;
    width: 150px;
    margin: 15px 0px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}
.login-group input{
    border-radius: 3px;
    height: 35px;
    padding: 5px;
    width: 260px;
    float: right;
    margin-top: 7px;
    border: 1px solid #1b548b;
    font-size: 15px;
}
/*help*/
.login-card-help{
    height: 40px;
}
.login-card-help .group-link{
    justify-content: flex-end;
    display: flex;
    margin: 0px 20px;
}
.login-card-help .group-link .link-help{
    text-decoration: none;
    color: #1b548b;
    font-size: 14px;
}
.login-card-help .group-link .link-help:hover{
    text-decoration: underline;
}
.login-card-help .group-link .btn-forgetpass{
    cursor: pointer;
    border: none;
    background-color: white;
    color: #1b548b;
}
.login-card-help .group-link .btn-forgetpass:hover{
    text-decoration: underline;
}

/*footer*/
.login-card-footer{
    height: 65px;
    border-top: 1px solid #bfbfbf;
    justify-content: flex-end;
    display: flex;
}

/*button*/
.btn-login{
    font-size: 15px;
    padding: 0px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 15px 20px;
    background-color: #1b548b;
    color: #fff;
}
.btn-login:hover {
    background-color:#2268aa ;
}
